* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  
}

body {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100vh;
  background: #f3efe7;
  align-items: center;
  justify-content: flex-start; 
  padding: 2rem;
  flex-direction: column;
  
}



nav {
  display: flex;
  width: 100%;
  font-size: clamp(1.5rem, 3vw, 3rem); 
  color: #9b1c1c;
  justify-content: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 3rem; 
  
}

main {
  display: flex;
  width: 100%;
  gap: 1.5rem; 
  max-width: 900px;
  height: fit-content;
  padding: 1.5rem; 
  flex-wrap: wrap;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  background: linear-gradient(to top, #8b0000, #4b0e0e);
  
}

.number-table {
  display: flex;
  padding: 1.5rem;
  background: red;
  border-radius: .75rem; 
  flex-grow: 1;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.number-table:hover {
  background-color: rgb(239, 23, 7);
  transform: scale(1.05); 
}

.btn-back {
  display: flex;
  width: 50%;
  max-width: 300px;
  justify-content: center;
  height: 3.5rem; 
  margin-top: 2rem; /* M치s espacio sobre el bot칩n */
  color: red;
  border: 2px solid #9b1c1c;
  border-radius: 0.75rem; /* Bordes m치s redondeados */
  background-color: white; /* Fondo blanco para contraste */
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.btn-back span {
  font-size: 2rem;
  font-weight: bolder;
  cursor: pointer;
}

.btn-back:hover {
  background-color: rgb(242, 1, 1);
  color: white;
  box-shadow: 0 4px 12px rgba(242, 1, 1, 0.3); /* Sombra m치s atractiva en hover */
}

.libre {
  background: green;
  transition: background-color 0.3s, transform 0.2s;
}

.libre:hover {
  background-color: limegreen;
  transform: scale(1.05);
}
