*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, #4b0e0e, #8b0000);
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  height: 100%;
  padding: 1rem;
  align-items: center;
  box-sizing: border-box;
  
}

.btn-menu {
  display: flex;
  width: 100%;
  max-width: 200px;
  height: 3rem;
  font-size: 1.5rem;
  background:blue;
  color: white;
  border-radius: .5rem;
  padding: 1rem;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

.orders-list {
  background: red;
  width: 100%;
  max-width: 700px;
  overflow-x: auto;
}

.orders-list table {
  min-width: 100%;
  background: white;
  border-collapse: collapse;
}

td:last-child div {
  display: flex;
  gap: 1rem;
}

td {
  text-align: center;
  padding: 10px;
  vertical-align: middle;
}

tr:hover td {
  background:#eda8a8;;
}

tr:nth-child(even) {
  background: #e2e2e2;
}

tr:nth-child(odd) {
  background:white;
}

.btn-table {
  padding: .8rem;
  color: white;
  border-radius: .5rem;
  cursor: pointer;
}

.btn-table:first-child {
  background: rgb(49, 85, 163);
}

.btn-table:last-child {
  background:rgb(220, 20, 60);
}
h1 {
  color: white; 
}

p {
  color: white; 
}

.btn-exit {
  position: absolute; 
  top: 10px; 
  right: 10px; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  width: 3rem; 
  height: 3rem; 
  font-size: 2rem; 
  background: transparent; 
  color: #ffffff; 
  border: 2px solid #ffffff; 
  border-radius: .5rem;
  padding: 0.5rem;
  text-decoration: none; 
  cursor: pointer; 
  box-shadow: 0px 4px 6px rgba(0, 0,0,0.1);
}